server.port=8081
spring.rabbitmq.host=localhost
spring.rabbitmq.port=5672
spring.rabbitmq.username=guest
spring.rabbitmq.password=guest
mbse.rabbitmq.exchange=MMSExchange
mbse.rabbitmq.queue=MMSQueue
mbse.rabbitmq.routingkey=MMSRoutingkey
mbse.rabbitmq.concurrency=5
spring.rabbitmq.listener.acknowledge-mode=manual
spring.rabbitmq.publisher-confirms=true
spring.rabbitmq.publisher-returns=true
spring.rabbitmq.template.mandatory=true

username=admin
password=admin
Content-Type=application/json
Authorization="Basic " + encoding

spring.webclient.bufferbytes=16777216
twc.max_element_batch_size=5000
twc.enforce_project_associations=true
mms.enforce_project_associations=true
